* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 20px;
}

/* variables*/
.box-shadow,
nav,
.hero,
.hero .slogan {
    -webkit-boxshadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.38);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.38);
}

/*extend*/
.upper-white,
nav ul li a,
.hero .slogan {
    color: #fff;
    text-transform: uppercase;
}

.quick-bolder {
    font-family: quicksand;
    font-weight: bolder;
}

.text-shadow,
.hero .slogan {
    text-shadow: 3px 3px 5px #969696;
}

.box-shadow,
nav,
.hero,
.hero .slogan {
    -webkit-boxshadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.38);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.38);
}

.background-slogan,
.hero {
    background: #6a6b6b;
    background: -webkit-gradient(left top, right top, color-stop(0%, #6a6b6b), color-stop(41%, rgba(87, 87, 87, 0.74)), color-stop(100%, rgba(84, 86, 87, 0.37)));
    background: linear-gradient(to right, #6a6b6b 0%, rgba(87, 87, 87, 0.74) 41%, rgba(84, 86, 87, 0.37) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a6b6b', endColorstr='#545657', GradientType=1);
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}

.col-offset-1 {
    margin-left: 8.33333%;
}

.col-offset-2 {
    margin-left: 16.66667%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33333%;
}

.col-offset-5 {
    margin-left: 41.66667%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33333%;
}

.col-offset-8 {
    margin-left: 66.66667%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33333%;
}

.col-offset-11 {
    margin-left: 91.66667%;
}

.col-offset-12 {
    margin-left: 100%;
}

body {
    background-color: #aaaaaa;
    margin-top: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

nav {
    background-color: #313332;
    margin: 0 auto;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav::after {
    content: "";
    clear: both;
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
}

nav ul li {
    font-size: 16px;
    display: inline-block;
    text-align: center;
}

nav ul li a {
    width: 100px;
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none;
    transition: ease-in-out .3s;
    font-family: quicksand;
}

nav ul li:hover ul {
    display: block;
}

nav ul li:hover>a {
    background-color: #484848;
    color: #12CBC4;
}

.hero {
    height: 500px;
}

.hero .slogan {
    float: left;
    width: 800px;
    background: rgba(27, 27, 27, 0.8);
    padding: 40px 240px 40px 40px;
    margin-top: 150px;
    font-size: 50px;
    font-weight: lighter;
}

footer ul {
    list-style-type: none;
}

.test {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.test {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}